/* 
root = cuspContainer
child1 = playerContainer | child2 = optionsContainer
child11 = cusp , child12 = controlbar | 
child111 = videoContainer , child112 = playlistContainer |
*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Sans-serif;
}

*:focus {
    outline: none;
}

.hidden{
    display: none;
}

body{
    overflow: hidden;
}

body h1{
    text-align: center;
}

body div{
  /*  border: 1px solid #ccc;*/
    padding: 1px;
}

/* root */
.cuspContainer {
    display:flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    min-width: 800px;
    min-height: 400px;
}

.playerContainer *{
    z-index: 3;
}
/* depth = 1 */
.playerContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cover {
	display:none;
	z-index: 2;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	text-align:center;
    pointer-events: none;
}

.promptContainer {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background: rgba(0,0,0,0.7);
}

#close-prompt {
    position: absolute;
    top: 0;
    right: 0;
    width: 3%;
}

.promptItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 30%;
    padding: 1%;
}

.promptForm {
    display: flex;
    width: 100%;
}

.promptInput {
    width: 100%;
}

.promptError {
    align-self: center;
    font-weight: bold;
    font-size: large;
}

.optionsContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
}

/* cusp css */
.cusp {
    display:flex;
    flex-direction: row;
    flex-basis: 95%;
    flex-grow: 1;
    width: 100%;
}

.overlay{
    padding: 0px;
    margin-top: 2vh;
    position: absolute;
    width: auto;
    padding-bottom: 2px;
    padding-top: 2px;
}

.videoContainer {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

video {
    width: 100%;
}

.playlistContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    
    padding: 0;
    background-color: rgba(0,0,0,0.3);
}

.playlistContainer *{
    padding: 0;
    margin: 0;
    z-index: 1;
}

.controlbar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;	
}

#outerControlbar {
    height: 7vh;
}

.controlbar button{
    flex-grow: 1;
}
svg{
    pointer-events: none;
    fill: #AAAAAA;
}
#seek-bar{
   min-width: 40%; 
}

#volume-bar{
    min-width: 8%;
}

/* option css ----------------------------------------------------------- */
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#start {    
    /*height: 76vh;*/
}

ul.contentTab {
    list-style-type: none;
    height: 75vh;
    margin: 0;
    padding: 0;
    overflow:scroll;
}

.content {
    display: flex;
    align-items: center;
    background-color: #ccc;
    border: 1px solid black;
    height: 8vh;
}

.contentImg {
    flex-grow: 1;
    min-width: 10%;
    max-width: 10%;
    
}

.contentPosition{
    flex-grow: 1;
}

.contentText{
    flex-grow: 5;
    max-width: 50%;
    padding-left: 2%;
    margin-right: 2%;
    flex-basis: 50%;
}

.contentText input{
    width: 75%;
}

.contentFile{
    flex-grow: 5;
    padding-left: 2%;
    margin-right: 2%;
}

.contentValue{
    flex-grow: 4;
}

.contentSwitch{
    flex-grow: 1;
}

.contentSelect{
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    flex-grow: 2;
    height: 60vh;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.placeholder-item {
    max-width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.placeholder-item img{
    height: 100%;
    width: 100%;
    padding: 0px;
    pointer-events: none;
}

/* switch css ----------------------------------------------------------- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* playlist css ----------------------------------------------------------- */
/* playlist */
.playlistControlbar {
    display: flex;
    flex-basis: 5%;
    width: 100%;
}

.playlistControlbar button {
    display: flex;
    justify-content: space-around;
    flex-basis: 16.6%;
    flex-grow: 1;
    border: 0;
    background: transparent;
    max-height: 100%;
}

.playlistControlbar img {
    /*interim lösung maybe check out inline svg*/
    padding: 2px;
    height: 4vh;
    width: 100%;
}

.playlistControlbar img {

}

.playlistEntries {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-basis: 95%;
    width: 100%;
    overflow-y: scroll;
}

.entry {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 2px;
    width: 100%;
    min-height: 12%;
    max-width: 100%;

    text-align: center;
    text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
    font-weight: bold;
    font-size: 2vmin;
    overflow: hidden;
}

.entry.selected {
    background-color: rgba(255,255,255,0.4);
}

.entry:hover {
    background-color: rgba(255,255,255,0.2);
}

.label.position {
    padding: 2px;
    flex-grow: 1;
}

.label.title {
    padding: 2px;
    flex-grow: 5;
}

.label.duration {
    padding: 2px;
    flex-grow: 2;
}

.label.deleteButton {
    align-self: flex-start;
}

/*hotkeys*/

.hotkey {
    background-color: #666666;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px #313131, 0 5px 0 #393939, 0 5px 6px rgba(0, 0, 0, 0.4), 0 2px 5px rgba(255, 255, 255, 0.2) inset, 0 -2px 5px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    display: inline-block;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.hotkey:hover {
    box-shadow: 0 5px 5px #313131, 0 5px 0 #393939, 0 5px 6px rgba(0, 0, 0, 0.4), 0 2px 15px rgba(255, 255, 255, 0.4) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
}

.hotkey:active {
    box-shadow: 0 2px 0 #393939, 0 4px 4px rgba(0, 0, 0, 0.4), 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    top: 7px;
}
