extends layout

block content
    svg#cover(width='100vw', height='100vh')
      rect(width='100vw', height='100vh', style='fill:rgb(0,0,0);fill-opacity:0.85')
    .promptContainer(style="display: none;")
      button#close-prompt X
      .addLink.promptItem(style="display: none;")
        .inputInfo Links zu deinen Videos eingeben und durch Kommas trennen.
        form.formURL.promptForm
          input.inputURL.promptInput(type="url", placeholder="z.B. \"https://www.youtube.com/watch?v=Y-rmzh0PI3c, https://www.youtube.com/watch?v=SkVqJ1SGeL0\"")
          input.submitURL(type="submit")
      .saveTheme.promptItem(style="display: none;")
        .themeNameInfo
          p Enter the name for your theme and visit it under:
          p localhost:3000/<i>your_theme_name</i>
          p Your theme name must have at least <b>3 letters</b> and can only contain:
          b A-Z(upper/lowercase), Numbers, "_", "-"
        #themeNameTaken.promptError(style="display: none;") Theme name taken, please choose a different Name.
        form.formThemeName.promptForm
          input.inputThemeName.promptInput(placeholder="z.B. Juergens_Theme-9" pattern="[A-Za-z0-9_-]{3,}")
          input.submitThemeName(type="submit")
      .changeHotkey.promptItem(style="display: none;")
        p#hotkeyTaken.promptError(style="display:none;") Hotkey already taken please try again!
        p Press the Keys to be saved as Hotkey.<br>Press Escape to abort.<br>Press Backspace to delete hotkey.
    .cuspContainer
      .playerContainer
        .cusp
          .videoContainer
            video.video
              source(src="https://media.w3.org/2010/05/sintel/trailer.mp4")
                                   
            .controlbar.overlay(style="width: 50%; display: none;")
                             
          .playlistContainer
            .playlistControlbar
              button#add-to-playlist-button-pl.addToPlaylist
                img.addToPlaylist.controlbarImage(src="img/iconset_black/add.svg", alt="Add to Playlist")
              button#autoplay-playlist-button-pl.autoplayPlaylist
                img.autoplayPlaylist.controlbarImage(src="img/iconset_black/player_play.svg", alt="Autoplay Playlist")
              button#prev-button-pl.prev
                img.prev.controlbarImage(src="img/iconset_black/player_prev.svg", alt="Previous")
              button#next-button-pl.next
                img.next.controlbarImage(src="img/iconset_black/player_next.svg", alt="Next")
              button#repeat-playlist-button-pl.repeatPlaylist
                img.repeatPlaylist.controlbarImage(src="img/iconset_black/repeat.svg", alt="Repeat")
              button#shuffle-button-pl.shuffle
                img.shuffle.controlbarImage(src="img/iconset_black/shuffle.svg", alt="Shuffle")
              button#reverse-button-pl.reverse
                img.reverse.controlbarImage(src="img/iconset_black/reverse.svg", alt="Reverse Order")
            .playlistEntries
                       
        .controlbar#outerControlbar
                 
                 
      .optionsContainer
        ul.tab
          li.tablinks.featureTab
            a(href="#") Features
                             
          li.tablinks.styleTab
            a(href="#") Style
                             
          li.tablinks.hotkeyTab
            a(href="#") Hotkeys
                             
          li.tablinks.playlistTab
            a(href="#") Playlist
        // tabcontent
        // start
        #start.tabcontent.active(style="display: block;")
          h3 CustomPlayer
          br                   
          p Hier können sie den Custom Player nach ihren Vorstellungen anpassen.
          br
          br
          h4 Features
          br
          p Wählen sie die Position der Controlbar & die in der Controlbar erscheinenden Buttons aus.
          br
          br
          h4 Style
          br
          p Ändern sie die farbliche Gestaltung, speichern sie ihre Änderungen oder wählen bereits gespeicherte Themes aus.
          br
          br
          h4 Hotkeys
          br
          p Weisen sie den Funktionen beliebige Hotkeys zu.
          br
          br
          h4 Playlist
          br
          p Legen sie die Position der Playlist und die in der Playlist gewünschten Buttons fest.
        // features
        #Feature.tabcontent
          h3 Features
                             
          p Add your wanted features to Cusp
                             
          ul#featureTab.contentTab
            li.featureContent(id="feature1 play")
              .content
                #contentImg.contentText
                  p Controlbar Position:
                                               
                .contentSelect
                  select#featureControllBarPosition
                    option(value="0") Oben 
                                                           
                    option(value="1", selected="selected") Unten
                                                           
                    option(value="2") Oben (Overlay)
                                                           
                    option(value="3") Unten (Overlay)
                                   
            li.featureContent(id="feature1 play")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/player_play.svg", alt="Play|Pause")
                                               
                #contentText.contentText
                  p PlayPause
                                               
                .contentSelect
                  select#featurePlay
                    option(value="0") Position wählen
                                                           
                    option(value="1", selected="selected") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11") Position 11
                                   
            li.featureContent(id="feature2 volume")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/volume.svg", alt="Volume")
                                               
                #contentText.contentText
                  p Volume
                                               
                .contentSelect
                  select#featureVolume
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2", selected="selected") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11") Position 11
                                   
            li.featureContent(id="feature3 stop")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/player_stop.svg", alt="Stop")
                                               
                #contentText.contentText
                  p Stop
                                               
                .contentSelect
                  select#featureStop
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3", selected="selected") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11") Position 11
                                   
            li.featureContent(id="feature4 seekbarFeature")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/slider.svg", alt="Seek-bar")
                                               
                #contentText.contentText
                  p Seekbar
                                               
                .contentSelect
                  select#featureSeekbar
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4", selected="selected") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11") Position 11
                                   
            li.featureContent(id="feature5 repeat")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/repeat.svg", alt="Repeat")
                                               
                #contentText.contentText
                  p Repeat
                                               
                .contentSelect
                  select#featureRepeat
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5", selected="selected") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11") Position 11
                                   
            li.featureContent(id="feature6 prevNext")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/player_next.svg", alt="PrevNext")
                                               
                #contentText.contentText
                  p PrevNext
                                               
                .contentSelect
                  select#featurePrevNext
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6", selected="selected") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11") Position 11
                                   
            li.featureContent(id="feature7 fullscreen")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/fullscreen.svg", alt="Fullscreen")
                                               
                #contentText.contentText
                  p Fullscreen
                                               
                .contentSelect
                  select#featureFullscreen
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7", selected="selected") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11") Position 11
                                   
            li.hidden.featureContent(id="feature8 popOut")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/popout.svg", alt="Pop Out")
                                               
                #contentText.contentText
                  p Pop Out
                                               
                .contentSelect
                  select#featurePopOut
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8", selected="selected") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11") Position 11
                                   
            li.featureContent(id="feature9 lightSwitch")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/lightswitch.svg", alt="lightSwitch")
                                               
                #contentText.contentText
                  p Light Switch
                                               
                .contentSelect
                  select#featureLightSwitch
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9", selected="selected") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11") Position 11
                                   
                                   
            li.featureContent(id="feature10 addToPlaylist")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/add.svg", alt="AddToPlaylist")
                                               
                #contentText.contentText
                  p Add to Playlist
                                               
                .contentSelect
                  select#featureAddToPlaylist
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10", selected="selected") Position 10
                                                           
                    option(value="11") Position 11
                                   
                                   
            li.featureContent(id="feature11 optionsFeature")
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/settings.svg", alt="Options")
                                               
                #contentText.contentText
                  p Options
                                               
                .contentSelect
                  select#featureOptionsFeature
                    option(value="0") Position wählen
                                                           
                    option(value="1") Position 1
                                                           
                    option(value="2") Position 2
                                                           
                    option(value="3") Position 3
                                                           
                    option(value="4") Position 4
                                                           
                    option(value="5") Position 5
                                                           
                    option(value="6") Position 6
                                                           
                    option(value="7") Position 7
                                                           
                    option(value="8") Position 8
                                                           
                    option(value="9") Position 9
                                                           
                    option(value="10") Position 10
                                                           
                    option(value="11", selected="selected") Position 11
        // style
        #Style.tabcontent
          h3 Style
                             
          p Style your own Cusp
          
                             
          ul#styleTab.contentTab
            li#style1.styleContent
              .content
                #contentText.contentText
                  p Hintergrund Farbe
                                               
                #contentText.contentText
                  input.jscolor.backgroundColor(onchange="", value="FFFFFF")
                                   
            li#style2.styleContent
              .content
                #contentText.contentText
                  p Highlight Farbe
                                               
                #contentText.contentText
                  input.jscolor.highlightColor(onchange="", value="000000")
                                   
            li#style3.styleContent
              .content
                #contentImg.contentText
                  p Hintergrundbild
                                               
                #contentText.contentFile
                  input.imageUpload(type="file", name="pic", accept="image/*")
                                   
            li#style4.styleContent
              .content
                #contentImg.contentText
                  p Button-Style
                                               
                #contentText.contentText
                  select#buttonStyle
                    option(value="0", selected="selected") Numix

            li#style5.styleContent
              .content
                #contentImg.contentText
                  p Button Farbe
                                               
                #contentText.contentText
                  input.jscolor.buttonColor(onchange="", value="AAAAAA")
            li#style6.styleContent
              .content
                #contentImg.contentText
                  p Theme
                                               
                #contentText.contentText
                  select#themeSelect
                    - for (var i = 0; i < themeNames.length; i++)
                      if themeNames[i] === settings.themeName
                        option(value=i, selected="selected")= themeNames[i]
                      else
                        option(value=themeNames[i])= themeNames[i]
            li#style7.styleContent
              .content
                #contentImg.contentText
                  p Speicher dein Theme
                                               
                #contentText.contentText
                  button#themeSaveButton Save
        // hotkeys
        #Hotkey.tabcontent
            h3 Hotkeys
                               
            p Define your own set of Hotkeys
                               
            p To change a Hotkey, click the respective button
                               
            ul#hotkeyTab.contentTab
              li#hotkey1.hotkeyContent
                .content
                  #contentImg.contentText
                    p Play/Pause
                                                 
                  #contentText.contentText
                    button#playPauseHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey2.hotkeyContent
                .content
                  #contentImg.contentText
                    p Stop
                                                 
                  #contentText.contentText
                    button#stopHotkey.hotkey  Kein Hotke
                                     
              li#hotkey3.hotkeyContent
                .content
                  #contentImg.contentText
                    p Seek Forward
                                                 
                  #contentText.contentText
                    button#seekForwardHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey4.hotkeyContent.hidden
                .content
                  #contentImg.contentText
                    p Seek Backward
                                                 
                  #contentText.contentText
                    button#seekBackwardHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey5.hotkeyContent
                .content
                  #contentImg.contentText
                    p Jump Forward
                                                 
                  #contentText.contentText
                    button#jumpForwardHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey6.hotkeyContent
                .content
                  #contentImg.contentText
                    p Jump Backward
                                                 
                  #contentText.contentText
                    button#jumpBackwardHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey7.hotkeyContent
                .content
                  #contentImg.contentText
                    p Volume Up
                                                 
                  #contentText.contentText
                    button#volumeUpHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey8.hotkeyContent
                .content
                  #contentImg.contentText
                    p Volume Down
                                                 
                  #contentText.contentText
                    button#volumeDownHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey9.hotkeyContent
                .content
                  #contentImg.contentText
                    p Mute
                                                 
                  #contentText.contentText
                    button#muteHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey10.hotkeyContent
                .content
                  #contentImg.contentText
                    p Repeat
                                                 
                  #contentText.contentText
                    button#repeatHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey11.hotkeyContent
                .content
                  #contentImg.contentText
                    p Next Track
                                                 
                  #contentText.contentText
                    button#nextTrackHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey12.hotkeyContent
                .content
                  #contentImg.contentText
                    p Previous Track
                                                 
                  #contentText.contentText
                    button#previousTrackHotkey.hotkey  Kein Hotkey
                    
              li#hotkey13.hotkeyContent
                .content
                  #contentImg.contentText
                    p Fullscreen
                                                 
                  #contentText.contentText
                    button#fullscreenHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey14.hotkeyContent
                .content
                  #contentImg.contentText
                    p Pop Out
                                                 
                  #contentText.contentText
                    button#popOutHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey15.hotkeyContent
                .content
                  #contentImg.contentText
                    p Add to Paylist
                                                 
                  #contentText.contentText
                    button#addToPlaylistHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey16.hotkeyContent
                .content
                  #contentImg.contentText
                    p Theatermode
                                                 
                  #contentText.contentText
                    button#theaterModeHotkey.hotkey  Kein Hotkey
                                     
              li#hotkey17.hotkeyContent
                .content
                  #contentImg.contentText
                    p Settings
                                                 
                  #contentText.contentText
                    button#settingsHotkey.hotkey  Kein Hotkey
        // playlist
        #Playlist.tabcontent
          h3 Playlist
          p Style your Playlist
          ul#playlistTab.contentTab
            li#playlist1.playlistContent
              .content
                #contentImg.contentText
                  p Playlist Position:
                .contentSelect
                  select#playlistSelect
                    option(value="0") Keine Playlist
                    option(value="1", selected="selected") Rechts vom Player
                    option(value="2") Links vom Player
                                   
            li#playlist2.playlistContent
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/link.svg", alt="Link")
                #contentImg.contentText
                  p Show/Hide Controlbar
                #contentSwitch.contentSwitch
                  label.switch
                    input#show-playlist-controlbar-option(type="checkbox")
                    .slider
                                   
            li#playlist3.playlistContent
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/add.svg", alt="Add")
                #contentImg.contentText
                  p Add to Playlist
                #contentSwitch.contentSwitch
                  label.switch
                    input#add-to-playlist-option(type="checkbox")
                    .slider

            li#playlist4.playlistContent
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/player_play.svg", alt="Autoplay Playlist")
                #contentImg.contentText
                  p Autoplay Playlist
                #contentSwitch.contentSwitch
                  label.switch
                    input#autoplay-playlist-option(type="checkbox")
                    .slider

            li#playlist5.playlistContent
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/player_next.svg", alt="PrevNext")
                #contentImg.contentText
                  p PrevNext
                #contentSwitch.contentSwitch
                  label.switch
                    input#prev-next-option(type="checkbox")
                    .slider
                                   
            li#playlist6.playlistContent
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/repeat.svg", alt="Repeat")
                #contentImg.contentText
                  p Repeat
                #contentSwitch.contentSwitch
                  label.switch
                    input#repeat-option(type="checkbox")
                    .slider
                                   
            li#playlist7.playlistContent
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/shuffle.svg", alt="Shuffle")
                #contentImg.contentText
                  p Shuffle
                #contentSwitch.contentSwitch
                  label.switch
                    input#shuffle-option(type="checkbox")
                    .slider
                                   
            li#playlist8.playlistContent
              .content
                #contentImg.contentImg
                  img.featureImage(src="img/iconset_black/reverse.svg", alt="Reverse")
                #contentImg.contentText
                  p Reverse Order
                #contentSwitch.contentSwitch
                  label.switch
                    input#reverse-option(type="checkbox")
                    .slider

        // tabcontent
    // lib scripts

    script(src='js/lib/EventPublisher.js')
    script(src='js/lib/jscolor.min.js')
    script(src='js/lib/qwest.min.js')
    script(src='js/lib/underscore-min.js')
    script(src='js/lib/mousetrap.min.js')
    script(src='js/lib/mousetrap-record.min.js')
    script(src='js/lib/svg-injector.min.js')

    // template scripts
    script#playlist-entry(type="text/template").
      //- TODO figure out whats best to call the link attribute (href or link)
      <div class="entry" position="<%= position %>" link="<%= link %>">
        <div class="label position"><%= displayPosition %>.</div>
        <div class="label title"><%= title %></div>
        <div class="label duration"><%= duration %></div>
        <img class="label deleteButton" src="img/iconset_black/close.svg" alt="delete" /> 
      </div>
    
    script#placeholder-item(type="text/template").
      <button id="<%= id %>" class="<%= classs %>" type="submit" style="order: <%= order %>; border: 0; background: transparent">
      <img class="controllBarImage" src="<%= src %>" alt="<%= alt %>" />
      </button>

    script#placeholder-item-double(type="text/template").
      <button id="<%= id %>" class="<%= classs %>" type="submit" style=""order: <%= order %>; border: 0; background: transparent">
      <img class="controllBarImage" src="<%= src %>" alt="<%= alt %>" />
      </button>
    
    script#placeholder-seek-bar(type="text/template").
      <input id="<%= id %>" type="range" class="seekbar placeholder-item" value="0" style="order: <%= order %>">

    script#placeholder-volume-bar(type="text/template").
      <input id="<%= id %>" type="range" class="volume placeholder-item" min="0" max="1" step="0.05" value="1" style="order: <%= order %>">

    // src scripts
    script(src="js/src/CustomPlayer.js")
    script(src="js/src/Controller.js")
    script(src="js/src/View.js")
    script(src="js/src/ControlbarController.js")
    script(src="js/src/Video.js")
    script(src="js/src/Model.js")
    script(src="js/src/Hotkeys.js")
    script(src="js/src/Server.js")
    script.
      App.CustomPlayer.init(!{settings});
